/* You can add global styles to this file, and also import other style files */
@import '@fortawesome/fontawesome-free/css/all.css';

html,
body {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	background: #101010;
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}
